<nav>
  <div class="site-title">
    <a href="/"
      ><h1>
        <span><img src="/bcb-logo.PNG" alt="bcb-logo" srcset="" /></span>
        BCB App
      </h1></a
    >
    <p>total vat & tax solution</p>
  </div>
  <ul>
    <li><a href="/company/all">companies</a></li>
    <li><a href="/login">login/register</a></li>
  </ul>
</nav>
<script>
  gsap.from(".site-title", {
    duration: 1,
    y: "-100%",
    ease: "bounce",
    rotate: 180,
  });
</script>
