<nav>
  <div class="site-title">
    <a href="/"
      ><h1>
        <span><img src="/bcb-logo.PNG" alt="bcb-logo" srcset="" /></span>BCB App
      </h1></a
    >
    <p>thrive for excellence</p>
  </div>
  <ul>
    <li><a href="/company/all">companies</a></li>
    <li><a href="/login">login/register</a></li>
  </ul>
</nav>
