<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="side-by-side">
      <h3>B/E No</h3>
      <h3>Date</h3>
      <h3>Product Description</h3>
      <h3>HS Code</h3>
      <h3>Purchase Value</h3>
      <h3>Purchase Rate</h3>
      <h3>Addition %</h3>
      <h3>Sales Rate</h3>
      <h3>Sales Value</h3>
      <h3>VAT %</h3>
      <h3>VAT Amount</h3>
      <h3>Rebate 15%</h3>
      <h3>AT 5%</h3>
      <h3>TR Deposite</h3>
      <h3>Opening Stock</h3>
      <h3>Sales Quantity</h3>
      <h3>Closing Stock</h3>
      <h3>TR</h3>
      <h3>Closing Balance (note 65)</h3>
      <button id="add" class="green">Add</button>
    </div>
    <div id="addInput" class="addInput"></div>
    <%- include("./partials/footer.ejs") %>
    <script>
      const addBtn = document.getElementById("add");
      const addInput = document.querySelector(".addInput");
      let count = 0;
      addBtn.addEventListener("click", (e) => {
        let html = "";

        html += "<div class='side-by-side'>";
        html += `<div class='border'><input type='text' id='input${count}' style='width: 92px;'></div>`;
        count++;
        html += `<div class='border'><input type='date' id='input${count}' style='width: 98px;'></div>`;
        count++;
        for (let i = 0; i < 17; i++, count++) {
          html += `<div class='border'><input type='text' id='input${count}' style='width: 92px;'></div>`;
        }

        html += "</div>";
        addInput.innerHTML += html;
      });
      document.addEventListener("keypress", (e) => {});
    </script>
  </body>
</html>
