<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="bcb">
      <form action="" method="post">
        <label for="month">For the month:</label>
        <input type="month" name="month" id="month" value="2022-09" />
        <label for="BE">B/E no.</label>
        <input type="text" name="BE" />
        <label for="date">B/E date</label>
        <input type="date" name="date" />
        <label for="name">Product Description</label>
        <input type="text" name="name" id="" />
        <label for="qty">Quantity</label>
        <input type="text" name="qty" id="" />
        <label for="">Purchase value</label>
        <input type="text" name="" id="" />
        <label for="">Purchase Rate</label>
        <input type="text" name="" id="" />
        <label for="">Additions</label>
        <input type="text" name="" id="" />
        <label for="">Sales Rate</label>
        <input type="text" name="" id="" />
        <label for="">Sales Value</label>
        <input type="text" name="" id="" />
        <label for="">VAT%</label>
        <input type="text" name="" id="" />
        <label for="">VAT Amount</label>
        <input type="text" name="" id="" />
        <label for="">Rebate 15%</label>
        <input type="text" name="" id="" />
        <label for="">AT 5%</label>
        <input type="text" name="" id="" />
        <label for="">TR Deposite</label>
        <input type="text" name="" id="" />
        <label for="">Opening Stock</label>
        <input type="text" name="" id="" />
        <label for="">Sales Quantity</label>
        <input type="text" name="" id="" />
        <label for="">Closing Stock</label>
        <input type="text" name="" id="" />
        <label for="">TR</label>
        <input type="text" name="" id="" />
        <label for="">Closing Balance(note 65)</label>
        <input type="text" name="" id="" />
      </form>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
