<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="bcb">
      <form action="" method="post">
        <label for="month">For the month:</label>
        <input type="month" name="month" id="month" value="2022-09" />
        <label for="BE">B/E no.</label>
        <input type="text" name="BE" />
        <label for="BEdate">B/E date</label>
        <input type="date" name="BEdate" />
        <label for="productName">Product Description</label>
        <input type="text" name="productName" id="" />
        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" id="" />
        <label for="purchaseVal">Purchase value</label>
        <input type="text" name="purchaseVal" id="" />
        <label for="purchaseRate">Purchase Rate</label>
        <input type="text" name="purchaseRate" id="" disabled />
        <label for="addition">Addition</label>
        <input type="text" name="addition" id="" disabled />
        <label for="salesRate">Sales Rate</label>
        <input type="text" name="salesRate" id="" disabled />
        <label for="salesVal">Sales Value</label>
        <input type="text" name="salesVal" id="" disabled />
        <label for="vatRate">VAT%</label>
        <input type="text" name="vatRate" id="" />
        <label for="vatVal">VAT Amount</label>
        <input type="text" name="vatVal" id="" disabled />
        <label for="rebate">Rebate 15%</label>
        <input type="text" name="rebate" id="" disabled />
        <label for="at">AT 5%</label>
        <input type="text" name="at" id="" disabled />
        <label for="trDeposite">TR Deposite</label>
        <input type="text" name="trDeposite" id="" disabled />
        <label for="openingStock">Opening Stock</label>
        <input type="text" name="openingStock" id="" />
        <label for="salesQty">Sales Quantity</label>
        <input type="text" name="salesQty" id="" />
        <label for="closingStock">Closing Stock</label>
        <input type="text" name="closingStock" id="" disabled />
        <label for="tr">TR</label>
        <input type="text" name="tr" id="" disabled />
        <label for="closingBal">Closing Balance(note 65)</label>
        <input type="text" name="closingBal" id="" disabled />
      </form>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
