<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <p>all companies</p>
    <%if (companies.length !== 0) { companies.forEach((company) => { %>
    <ul>
      <li><%= company.name %></li>
    </ul>
    <% }) } else {%>
    <p>No companies found...</p>
    <% } %> <%- include("./partials/footer.ejs") %>
  </body>
</html>
