<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <p>login page</p>
    <dev class="bcb">
      <form action="/auth" method="POST">
        <input
          id="name"
          name="name"
          type="text"
          placeholder="Enter your name"
          required
        />
        <input
          id="pass"
          name="pass"
          type="password"
          placeholder="Enter your password"
          required
        />

        <button type="submit">submit</button>
      </form>
    </dev>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
