<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <p>register page</p>
    <dev class="bcb">
      <form aciton="/auth" method="get">
        <input type="text" placeholder="Enter your name" required />
        <input type="password" placeholder="Enter your password" required />

        <button type="submit">submit</button>
      </form>
    </dev>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
