@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ddffcc;
  color: black;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  font-family: "Noto Serif", serif;
}
/* Navbar styles */
nav {
  display: flex;
  border-bottom: solid #36bc3b 5px;
}
nav h1 {
  font-family: "Fredoka One", cursive;
  font-size: 4.2em;
  color: #993399;
  align-self: center;
}
nav p {
  font-family: "Chewy", cursive;
  font-size: 2em;
  color: #ac0000;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}
nav li {
  list-style-type: none;
  font-size: 1.6em;
  margin-right: 10px;
}
nav li a {
  text-decoration: none;
  color: #993399;
}
nav li a:hover {
  text-decoration: underline;
  font-weight: bold;
}
/* Navbar end */
footer {
  color: rgb(194, 186, 186);
  border-top: solid #bababa 2px;
  padding: 10px;
}
/* Home styles */
button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  width: 150px;
  height: 50px;
  cursor: pointer;
}
.companies-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}
.company {
  height: 120px;
  background-color: white;
  color: black;
  text-align: center;
}
.company:hover {
  background-color: crimson;
  color: white;
  cursor: pointer;
}
